<footer class="footer">
      <div class="footer__inner">
        <div class="footer__logo">
          <img src="./img/logo.svg" alt="logo">
        </div>
        <div class="footer__menu">
          <a class="footer__link" href="#">Мобильные приложения</a>
          <a class="footer__link" href="#">Главная страница</a>
        </div>
        <div class="footer__contacts">
          <span class="footer__contacts-text">Связаться с нами</span>
          <ul class="footer__socials-list">
            <a class="footer__socials-item" href="tel:+78003017927">
              <img src="./img/icon-phone.svg" alt="phone">
              <span class="footer__socials-item_phone">+7 800 301-79-27</span>
            </a>
            <a class="footer__socials-item" href="#">
              <img src="./img/icon-telegram.svg" alt="telegram">
            </a>
            <a class="footer__socials-item" href="mailto:mail@gmail.ru">
              <img src="./img/icon-mail.svg" alt="mail">
            </a>
          </ul>
        </div>
        <div class="footer__license">
          <img src="./img/icon-license.svg" alt="license">
          <p class="footer__license-text">Индивидуальный предприниматель<br>
            Степанов Георгий Константинович<br>
            Адрес: г. Обнинск, ул. Белкинская. 19,<br>
            136 ОГРНИП 318402700019269 ИНН<br>
            402571298900 Банк МОСКОВСКИЙ ФИЛИАЛ<br>
            АО КБ "МОДУЛЬБАНК"<br>
            БИК 044525092 К/c 30101810645250000092<br>
            Счет 40802810970010085488</p>
        </div>
      </div>
      <div class="footer__copyright">Copyright © 2021 ProductFit</div>
    </footer>