<header class="header">
  <div class="header__logo">
    <img src="./img/logo.svg" alt="logo">
  </div>
  <div class="header__socials">
    <ul class="header__socials-list">
      <a class="header__socials-item" href="#">
        <img src="./img/icon-telegram.svg" alt="telegram">
      </a>
      <a class="header__socials-item" href="mailto:mail@gmail.ru">
        <img src="./img/icon-mail.svg" alt="mail">
      </a>
      <a class="header__socials-item" href="tel:+78003017927">
        <img src="./img/icon-phone.svg" alt="phone">
        <span class="header__socials-item_phone">+7 800 301-79-27</span>
      </a>
    </ul>
    <button class="button">Начать проект</button>
  </div>
</header>