<div class="projects">
      <h2 class="projects__heading">Проекты команды ProductFit</h2>
      <div class="projects__inner">
        <div class="projects__list">
          <div class="projects__item">
            <img src="./img/image-Cabify.png" alt="cabify">
            <div class="projects__description">
              <h4 class="projects__title">Cabify</h4>
              <p class="projects__text">Кроссплатформенное приложение под Android и iOS разработано на React Native(Python)</p>
            </div>
          </div>
          <div class="projects__item">
            <img src="./img/image-UralAirlines.png" alt="Ural Airlines">
            <div class="projects__description">
              <h4 class="projects__title">Ural Airlines</h4>
              <p class="projects__text">Все сервисы для пассажиров «Уральских авиалиний» в одном приложении на Swift и Java</p>
            </div>
          </div>
          <div class="projects__item">
            <img src="./img/image-OpenGift.png" alt="OpenGift">
            <div class="projects__description">
              <h4 class="projects__title">OpenGift</h4>
              <p class="projects__text">Система монетизации OpenSource-проектов на основе блокчейна hyperledger fabric</p>
            </div>
          </div>
          <div class="projects__item">
            <img src="./img/image-PlanDi.png" alt="PlanDi">
            <div class="projects__description">
              <h4 class="projects__title">PlanDi</h4>
              <p class="projects__text">Сервис поиска актуальной работы проектировщикам и компаниям</p>
            </div>
          </div>
          <div class="projects__item">
            <img src="./img/image-Коалиция.png" alt="Коалиция">
            <div class="projects__description">
              <h4 class="projects__title">Коалиция</h4>
              <p class="projects__text">Проект для ведущего в России Центра образования, который осуществляет подготовку школьников к сдаче ЕГЭ.</p>
            </div>
          </div>
          <div class="projects__item">
            <img src="./img/image-Rubetek.png" alt="Rubetek">
            <div class="projects__description">
              <h4 class="projects__title">Rubetek</h4>
              <p class="projects__text">Управление домом IoT и микрофреймворк на языке Python совместно с Java и Swift</p>
            </div>
          </div>
        </div>
        <div class="projects__all-projects">
          <button class="button button_green">Все проекты</button>
        </div>
    </div>
    </div>