.banner {
  display: flex;
  align-items: center;

  margin: 50px 0;
  padding: 20px 0;
  background: linear-gradient(to bottom, #1E959B 0%, #1E959B 100%) no-repeat;
  background-position: center;
  background-size: 100% 76%;

  &__desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    margin-left: 150px;
  }

  &__image {
    width: 100%;
  }

  &__title {
    @include title;

    color: $white;
    margin-bottom: 20px;
  }

  &__subtitle {
    @include text;

    margin-bottom: 20px;

    color: $white;
    white-space: nowrap;
  }
}

@media screen and (max-width: 990px) {
  .banner {
    justify-content: center;

    padding: 50px 0;
    margin: 0;
    
    background-size: 100%;

    &__desc {
      align-items: center;
      margin: 0;
    }

    &__image {
      display: none;
    }
  }
}
