.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  padding: 50px;
  &__title {
    @include title;

    margin: 30px 0;

    text-transform: uppercase;
    color: $primary;
  }

  &__subtitle {
    @include text;

    margin-bottom: 30px;
  }
}

@media screen and (max-width: 990px) {
  .text {
    padding: 30px;
    
    &__title {
      text-align: center;
      line-height: 1.6;
      font-size: 24px;
    }

    &__subtitle {
      font-size: 14px;
    }
  }
}