.request {

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    column-gap: 100px;
    row-gap: 40px;

    padding: 50px 0;
  }

  &__desc {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    @include title;

    margin-bottom: 18px;

    color: $primary;
  }

  &__subtitle {
    @include text;

    margin-bottom: 38px;
  }
}

@media screen and (max-width: 990px) {
  .request {

    &__title {
      display: none;
    }

    &__subtitle {
      display: none;
    }
  }
}