.section-description {
  height: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  &__title {
    margin-bottom: 18px;
  
    color: $primary;
    text-transform: uppercase;
  
    @include title;
  }
  
  &__text {
    margin-bottom: 50px;
  
    color: $grey;
  
    @include text;
  }
}

@media screen and (max-width: 426px) {
  .section-description {
    justify-content: flex-start;
    align-items: center;
  
    text-align: center;
  }
}
