<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./scss/cases/cases.scss">
  <title>ProductFit</title>
</head>
<body>
  <div class="container container_sm">
    {% include './parts/header.njk' %}
    <div class="swiper swiper-cases">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-cases__slide">
          <img class="swiper-cases__image" src="./img/image-OpenGift_big.png" alt="OpenGift">
        </div>
        <div class="swiper-slide swiper-cases__slide">
          <img class="swiper-cases__image" src="./img/image-OpenGift_big.png" alt="OpenGift">
        </div>
        <div class="swiper-slide swiper-cases__slide">
          <img class="swiper-cases__image" src="./img/image-OpenGift_big.png" alt="OpenGift">
        </div>
      </div>
      <div class="swiper-pagination swiper-pagination-horizontal"></div>
      <div class="swiper-button-prev swiper-cases__button-prev">
        <img src="./img/icon-prev-green.png" alt="prev">
      </div>
      <div class="swiper-button-next swiper-cases__button-next">
        <img src="./img/icon-next-green.png" alt="next">
      </div>
    </div>
  </div>

  <div class="container container_lg">
    <section class="description">
      <div class="description__card">
        <div class="card">
          <div class="card__logo">
            <img class="card__image" src="./img/logo-opengift.png" alt="opengift">
          </div>
          <div class="card__inner">
            <div class="card__text">
              <div class="card__desc card__desc_left">
                <p class="card__subtitle">Длительность</p>
                <h3 class="card__title">10 Недель</h3>
              </div>
              <div class="card__desc card__desc_right">
                <p class="card__subtitle">Колличество спринтов</p>
                <h3 class="card__title">20 Спринтов</h3>
              </div>
            </div>
            <div class="card__icon">
              <img src="./img/card-icon1.svg" alt="icon">
              <img src="./img/card-icon2.svg" alt="icon">
              <img src="./img/card-icon3.svg" alt="icon">
            </div>
            <div class="card__link">
              <a href="#" class="card__link-opengift">Opengift.io</a>
            </div>
            <button class="button button_card">узнать стоимость проекта</button>
          </div>
        </div>
      </div>
      <div class="description__text">
        <div class="text">
          <h2 class="text__title">OpenGift – это система монетизации 
            OpenSource-проектов на основе блокчейна hyperledger fabric.</h2>
          <p class="text__subtitle">К разработке платформы было привлечено 
            более 5000 разработчиков. Ее интегрировали с сетью блокчейнов. 
            Альфа-версия была запущена в январе 2018 года. 
            OpenGIft был создан для решения проблем, унаследованных от 
            разработки программного обеспечения. Платформа позволяет 
            компаниям разделять расходы на программное обеспечение, а 
            управление проектами является основной функцией, помогающей в 
            сотрудничестве.</p>
            <p class="text__subtitle"> Для монетизации используются смарт-контракты, чтобы создать 
            пассивный, периодический потенциал дохода. Уникальность проекта 
            в видении на разработку с открытым исходным кодом.</p>
        </div>
      </div>
    </section>
  </div>
  <section class="banner">
    <div class="banner__desc">
      <div class="banner__title">Начнем проект?</div>
      <div class="banner__subtitle">Усилим Вашу комунду и запустим 
        проект быстрее!</div>
      <button class="button button_white">узнать стоимость проекта</button>
    </div>
    <img class="banner__image" src="./img/image-stairs.png" alt="image">
  </section>

  <div class="container container_sm">
     {% include './parts/projects.njk' %}
  </div>

  <div class="swiper swiper-projects">
    <div class="swiper-wrapper swiper-projects__wrapper">
      <div class="swiper-slide swiper-projects__slide">
        <img src="./img/image-Cabify.png" alt="cabify">
        <div class="projects__description">
          <h4 class="projects__title">Cabify</h4>
          <p class="projects__text">Кроссплатформенное приложение под Android и iOS разработано на React Native(Python)</p>
        </div>
      </div>
      <div class="swiper-slide swiper-projects__slide">
        <img src="./img/image-UralAirlines.png" alt="Ural Airlines">
        <div class="projects__description">
          <h4 class="projects__title">Ural Airlines</h4>
          <p class="projects__text">Все сервисы для пассажиров «Уральских авиалиний» в одном приложении на Swift и Java</p>
        </div>
      </div>
      <div class="swiper-slide swiper-projects__slide">
        <img src="./img/image-OpenGift.png" alt="OpenGift">
        <div class="projects__description">
          <h4 class="projects__title">OpenGift</h4>
          <p class="projects__text">Система монетизации OpenSource-проектов на основе блокчейна hyperledger fabric</p>
        </div>
      </div>
      <div class="swiper-slide swiper-projects__slide">
        <img src="./img/image-PlanDi.png" alt="PlanDi">
        <div class="projects__description">
          <h4 class="projects__title">PlanDi</h4>
          <p class="projects__text">Сервис поиска актуальной работы проектировщикам и компаниям</p>
        </div>
      </div>
      <div class="swiper-slide swiper-projects__slide">
        <img src="./img/image-Коалиция.png" alt="Коалиция">
        <div class="projects__description">
          <h4 class="projects__title">Коалиция</h4>
          <p class="projects__text">Проект для ведущего в России Центра образования, который осуществляет подготовку школьников к сдаче ЕГЭ.</p>
        </div>
      </div>
      <div class="swiper-slide swiper-projects__slide">
        <img src="./img/image-Rubetek.png" alt="Rubetek">
        <div class="projects__description">
          <h4 class="projects__title">Rubetek</h4>
          <p class="projects__text">Управление домом IoT и микрофреймворк на языке Python совместно с Java и Swift</p>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev swiper-projects__button-prev">
      <img src="./img/icon-prev-green.png" alt="prev">
    </div>
    <div class="swiper-button-next swiper-projects__button-next">
      <img src="./img/icon-next-green.png" alt="next">
    </div>
    <div class="projects__elem">
      <img src="./img/elem1.svg" alt="element">
    </div>
    <div class="projects__all-projects">
      <button class="button button_green">Все проекты</button>
    </div>
  </div>

  <section class="request section section_full-view">
    <div class="request__inner">
      <img class="request__image" src="./img/image3.svg" alt="image">
      <div class="request__desc">
        <h2 class="request__title">Начнем работу над вашим <br> ІТ-проектом через 24 часа</h2>
        <p class="request__subtitle">Проектируем, запускаем и сопровождаем IT-проеты любой сложности</p>
        <button class="button button_header">Оставить заявку</button>
      </div>
    </div>
  </section>

  <div class="container container_md">
    {% include './parts/footer.njk' %}
  </div>
</body>

<script type="module" src="./js/scripts.js"></script>
</html>