<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./scss/cases/cases.scss">
  <title>ProductFit</title>
</head>
<body>
  <div class="container container_sm">
    {% include './parts/header.njk' %}
    <div class="swiper swiper-cases">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-cases__slide">
          <img src="./img/image-OpenGift_big.png" alt="OpenGift">
        </div>
        <div class="swiper-slide swiper-cases__slide">
          <img src="./img/image-OpenGift_big.png" alt="OpenGift">
        </div>
        <div class="swiper-slide swiper-cases__slide">
          <img src="./img/image-OpenGift_big.png" alt="OpenGift">
        </div>
      </div>
      <div class="swiper-pagination swiper-pagination-horizontal"></div>
      <div class="swiper-button-prev swiper-cases__button-prev">
        <img src="./img/icon-prev-green.png" alt="prev">
      </div>
      <div class="swiper-button-next swiper-cases__button-next">
        <img src="./img/icon-next-green.png" alt="next">
      </div>
    </div>
  </div>

  <div class="container container_lg">
    <section class="description">
      <div class="description__card">
        <div class="card">
          <div class="card__logo">
            <img src="./img/logo-opengift.png" alt="opengift">
          </div>
          <div class="card__inner">
            <div class="card__text">
              <div class="card__desc card__desc_left">
                <p class="card__subtitle">Длительность</p>
                <h3 class="card__title">10 Недель</h3>
              </div>
              <div class="card__desc card__desc_right">
                <p class="card__subtitle">Колличество спринтов</p>
                <h3 class="card__title">20 Спринтов</h3>
              </div>
            </div>
            <div class="card__icon">
              <img src="./img/card-icon1.svg" alt="icon">
              <img src="./img/card-icon2.svg" alt="icon">
              <img src="./img/card-icon3.svg" alt="icon">
            </div>
            <div class="card__link">
              <a href="#" class="card__link-opengift">Opengift.io</a>
            </div>
            <button class="button">узнать стоимость проекта</button>
          </div>
        </div>
      </div>
      <div class="description__text">
        <div class="text">
          <h2 class="text__title">OpenGift – это система монетизации 
            OpenSource-проектов на основе блокчейна hyperledger fabric.</h2>
          <p class="text__subtitle">К разработке платформы было привлечено 
            более 5000 разработчиков. Ее интегрировали с сетью блокчейнов. 
            Альфа-версия была запущена в январе 2018 года. 
            OpenGIft был создан для решения проблем, унаследованных от 
            разработки программного обеспечения. Платформа позволяет 
            компаниям разделять расходы на программное обеспечение, а 
            управление проектами является основной функцией, помогающей в 
            сотрудничестве.</p>
            <p class="text__subtitle"> Для монетизации используются смарт-контракты, чтобы создать 
            пассивный, периодический потенциал дохода. Уникальность проекта 
            в видении на разработку с открытым исходным кодом.</p>
        </div>
      </div>
    </section>
  </div>
</body>

<script type="module" src="./js/scripts.js"></script>
</html>