.button {
  padding: 23px 40px;

  border-radius: 15px;
  border: none;
  cursor: pointer;

  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: $secondary;

  &_header {
    padding: 25px;

    box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
    border-radius: 20px;

    font-size: 16px;
    line-height: 20px;
  }

  &_green {
    padding: 25px 63px;

    color: $primary;
    background-color: transparent;
    
    border: 1px $primary solid;
    box-shadow: 0px 3px 10px rgba(30, 149, 155, 0.5);
    border-radius: 20px;
  }
}