.container {
  padding: 0 20px;
  margin: 0 auto;

  &_sm {
    max-width: 1000px;
  }

  &_md {
    max-width: 1180px;
  }

  &_full-screen {
    height: 100vh;
  }

  &_lg {
    max-width: 1300px;
  }
}
