.footer {

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    column-gap: 20px;
    margin-top: 60px;
  }

  &__menu {
    display: flex;
    flex-direction: column;

    row-gap: 22px;
  }

  &__link {
    text-decoration: none;
    color: $primary;

    @include text;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  &__contacts-text {
    @include text;

    color: $primary;
    font-weight: 700;
  }

  &__socials-list {
    display: flex;
    column-gap: 15px;
  }

  &__socials-item {
    display: flex;
    column-gap: 5px;
    align-items: center;

    text-decoration: none;

    &_phone {
      @include text;

      font-weight: 700;
      color: $primary;
    }
  }

  &__license {
    display: flex;
  }

  &___license-text {
    font-size: 14px;

    @include text;
  }

  &__copyright {
    margin: 40px 0;

    color: rgba(60, 60, 60, 0.5);
    text-align: center;
    
    @include text;
  }
}

@media (max-width: 1230px) {
  .footer {
    &__logo {
      display: none;
    }
  }
}

@media (max-width: 960px) {
  .footer {
    &__logo {
      display: none;
    }

    &__inner {
      margin: 0 auto;
      max-width: 415px;

      flex-direction: column;
      row-gap: 35px;
    }

    &__menu {
      width: 100%;
      justify-content: space-between;
      margin: 0 auto;
    }

    &__contacts {
      align-items: center;
      width: 100%;

      row-gap: 40px;
    }

    &__socials-list {
      width: 100%;
      
      justify-content: space-between;
  }
  }
}