.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 150px;

  &__socials {
    display: flex;
    
    column-gap: 58px;
  }

  &__socials-list {
    display: flex;
    align-items: center;
    
    column-gap: 58px;
  }

  &__socials-item {
    display: flex;
    align-items: center;

    cursor: pointer;
    text-decoration: none;

    color: $primary;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;

    &_phone {
      margin-left: 16px;
    }
  }
}

@media (max-width: 951px) {
  .header {

    &__socials-item_phone {
      display: none;
    }
  }
}

@media (max-width: 426px) {
  .header {
    height: 110px;

    justify-content: center;

    &__socials{
      display: none;
    }

  }
}