.swiper {
  width: 100%;

  &-partners {
    background-color: $primary;

    &__wrapper {
      align-items: center;
    }
    
    &__slide {
      display: flex;
      justify-content: center;
      padding: 18px 0;
    }

    &__button-prev {
      position: absolute;
      left: 5%;
      top: 39%;

      z-index: 100;
    }

    &__button-next {
      position: absolute;
      right: 5%;
      top: 39%;

      z-index: 100;
    }
  }

  &-projects {

    &__slide {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    

    &__button-prev {
      position: absolute;
      left: 5%;
      bottom: 21%;

      z-index: 100;
    }

    &__button-next {
      position: absolute;
      right: 5%;
      bottom: 21%;

      z-index: 100;
    }
  }

  &-banner {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
    
    &__slide {
      height: 100%;
      margin: 50px 0;

      background-image: url(../img/banner1.png);
      background-position: right;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__description {
      height: 100%;
      margin: 90px 0;
      padding: 0 40px;

      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
    }

    &__data {
      @include text;

      font-weight: 700;
      color: $secondary;
    }

    &__text {
      @include title;

      color: $primary;
    }

    &__button-prev {
      position: absolute;
      left: 0;
      top: 50%;

      z-index: 100;
    }

    &__button-next {
      position: absolute;
      right: 0;
      top: 50%;

      z-index: 100;
    }
  }

  &-products {

    &__list {
      justify-content: center !important;
    }

    &__item {
      flex-basis: 220px !important;
    }

    &__button-prev {
      position: absolute;

      right: 5%;
      top: 47%;

      z-index: 100;
    }

    &__button-next {
      position: absolute;

      left: 5%;
      top: 47%;

      z-index: 100;
    }
  }
}


@media (min-width: 1200px) {
  .swiper-partners {
    display: none;
  }
}

@media (min-width: 660px) {
  .swiper-projects {
    display: none;
  }
}

@media (max-width: 1050px) {
  .swiper-banner {
    &__slide {
      background-image: url(../img/banner1-mob.png);
    }

    &__description {
      margin: 40px 0;
      
      align-items: center;
      text-align: center;
    }
  }
}

@media (min-width: 1100px) {
  .swiper-products {
    display: none;
  }
}
