.swiper {
  width: 100%;

  &-partners {
    background-color: $primary;

    &__wrapper {
      align-items: center;
    }
    
    &__slide {
      display: flex;
      justify-content: center;
      padding: 18px 0;
    }

    &__button-prev {
      position: absolute;
      left: 5%;
      top: 39%;

      z-index: 100;
    }

    &__button-next {
      position: absolute;
      right: 5%;
      top: 39%;

      z-index: 100;
    }
  }

  &-projects {

    &__slide {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    

    &__button-prev {
      position: absolute;
      left: 5%;
      bottom: 21%;

      z-index: 100;
    }

    &__button-next {
      position: absolute;
      right: 5%;
      bottom: 21%;

      z-index: 100;
    }
  }
}


@media (min-width: 1200px) {
  .swiper-partners {
    display: none;
  }
}

@media (min-width: 660px) {
  .swiper-projects {
    display: none;
  }
}