.welcome {
  height: calc(100% - 150px);

  background-image: url(../img/image1.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

@media (max-width: 426px) {
  .welcome {
    height: calc(100% - 110px);

    justify-content: center;

    background-image: url(../img/image1-mob.png);
    background-position: 50% 160%;
    background-size: contain;
  }
}